// app global css in Sass form
.text
  &-bold
    font-weight: 500
  &-nm
    margin: 0
  &-np
    padding: 0
  &-formula
    margin-top: 1.75rem
    font-size: 1.15rem

.gap
  &-1
    gap: 1rem
  &-075
    gap: 0.75rem

.input
  &-width
    &-sm
      width: 70%
    &-xs
      width: 60%

.form
  &-width
    &-lg
      width: 40%

.link
  &-button
    padding: 0.75rem
